{% extends "layout.html" %}
{% block content %}
<a href="{{ url_for('index') }}" class="btn btn-link">← Voltar</a>

<div class="card shadow-sm mt-3">
  <div class="card-body">
    <h3 class="card-title">{{ 'Editar livro' if book else 'Novo Livro' }}</h3>
    <form method="post" enctype="multipart/form-data"
          action="{{ url_for('create_book') if not book else url_for('update_book', book_id=book.id) }}">
      {% if not book %}
      <div class="mb-3">
        <label class="form-label">Código</label>
        <input name="code" class="form-control" required>
      </div>
      {% endif %}

      <div class="mb-3">
        <label class="form-label">Título</label>
        <input name="title" class="form-control" value="{{ book.title if book else '' }}" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Autor</label>
        <input name="author" class="form-control" value="{{ book.author if book else '' }}" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Resumo</label>
        <textarea name="summary" class="form-control">{{ book.summary if book else '' }}</textarea>
      </div>

      <div class="mb-3">
        <label class="form-label">Imagem</label>
        <input type="file" name="image" accept="image/*" class="form-control">
      </div>

      <button class="btn btn-primary">Salvar</button>
    </form>
  </div>
</div>
{% endblock %}

