<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Biblioteca na Nuvem</title>
  <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.3">
</head>
<body class="container">
  <header><h1>📚 Biblioteca na Nuvem</h1></header>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="messages">
      {% for cat, msg in messages %}<li class="{{cat}}">{{msg}}</li>{% endfor %}
    </ul>
    {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
</body>
</html>
